* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #808080;
    display: flex;
    text-decoration: none;
}

header {
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 19px;
    background-color: black;
}

a {
    height: 100%;
    width: 100%;
}

a:hover {
    height:20px;
}